@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #3A0CA3;
  background-image: linear-gradient(to right, #3A0CA3, rgba(247, 240, 240, 0.473));
  box-shadow: 0 0.5rem 1rem #646262;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem 0;
}
.header .logo {
  color: white;
  padding: 0 0.5rem;
  position: relative;
  left: 15rem;
}
.header img {
  width: 5rem;
  height: 5rem;
}

.menu-link {
  font-family: "Balsamiq Sans", cursive;
}

/*MENÚ HAMBURGUESA PANTALLA PEQUEÑA*/
.nav-toggle {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 0.25rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  transition: opacity 250ms ease;
  position: absolute;
  left: 2rem;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.menu {
  width: 100%;
  visibility: hidden;
  position: absolute;
  height: 0;
  font-size: 1rem;
  font-family: "Balsamiq Sans", cursive;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.menu li {
  margin-top: 0.75rem;
}

.menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botondonar {
  background-color: #F72585;
  height: auto;
  width: 10rem;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.botondonar:hover {
  background-color: #4CC9F0;
  transform: scale(1.1);
}

@media (min-width: 1024px) {
  .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    width: 100%;
    visibility: visible;
    position: relative;
    align-items: center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  .menu ul {
    box-align: center;
    visibility: visible;
    list-style-type: none;
    font-size: 0;
    font-family: "Balsamiq Sans", cursive;
  }
  .menu li {
    display: inline-block;
    font-size: 1rem;
    margin: auto;
    padding: 0.5rem;
  }

  .menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Balsamiq Sans", cursive;
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    position: relative;
    left: auto;
  }
}
.menu--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.main {
  background-color: #6f88f580;
  background-image: linear-gradient(to top, #6f88f596, rgba(247, 240, 240, 0.473));
  height: 15rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main h1 {
  color: #3A0CA3;
  align-items: center;
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  font-size: 3rem;
  position: absolute;
  display: flex;
}
.main .botondonar {
  position: absolute;
  justify-content: center;
  bottom: 2rem;
}
.main .menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 780px) {
  .main {
    background-color: #6f88f580;
    background-image: linear-gradient(to top, #6f88f596, rgba(247, 240, 240, 0.473)), url(/Images/IMG_9757.JPG);
    display: flex;
    justify-content: center;
    height: 20rem;
    position: relative;
  }
  .main h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1750px) {
  .main {
    background-color: #6f88f580;
    background-image: linear-gradient(to top, #6f88f596, rgba(247, 240, 240, 0.473)), url(/Images/IMG_9757.JPG);
    display: flex;
    justify-content: center;
    height: 22rem;
    position: relative;
  }
  .main h1 {
    font-size: 8rem;
    position: absolute;
  }
}
footer {
  background-color: #4361EE;
  color: white;
  font-size: 20px;
  height: 100px;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h4 {
  color: white;
}

/*Obras aplicación de grid*/
.contenedor {
  background-color: #4361EE;
  width: 90%;
  height: auto;
  display: grid;
  margin-top: 1rem;
}

.imagen {
  min-height: 200px;
  min-width: 200px;
  background-color: pink;
  border: 2px solid #4361EE;
}

.imagen:hover {
  transform: scale(1.2);
  transform: 0.7s;
  filter: grayscale(2);
}

.imagen1 {
  background-color: wheat;
  grid-column: 1;
  grid-row: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(/Images/grids/IMG_0003.JPG);
  background-size: cover;
  background-position: center;
}

.imagen2 {
  grid-area: "2";
  background-color: violet;
  background-image: url(/Images/grids/IMG_0036.JPG);
  background-size: cover;
  background-position: center;
}

.imagen3 {
  grid-area: "3";
  background-color: purple;
  grid-column: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(/Images/grids/IMG_0055.JPG);
  background-size: cover;
  background-position: top;
}

.imagen4 {
  grid-area: "4";
  background-image: url(/Images/grids/IMG_0087.JPG);
  background-size: cover;
  background-position: center;
}

.imagen5 {
  grid-area: "5";
  background-image: url(/Images/grids/pexels-junior-machado-3452236.jpg);
  background-size: cover;
  background-position: center;
}

.imagen6 {
  grid-area: "6";
  grid-column: 1;
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url(/Images/grids/IMG_1619.JPG);
  background-size: cover;
  background-position: center;
}

.imagen7 {
  grid-area: "7";
  background-image: url(/Images/grids/pexels-viajero-cool-3156779.jpg);
  background-size: cover;
  background-position: bottom;
}

.imagen8 {
  grid-area: "8";
  grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  background-image: url(/Images/grids/pexels-luis-quintero-5212402.jpg);
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=EstiloObras.css.map */
