.main{
    background-color: #6f88f580;
    background-image: linear-gradient(to top, #6f88f596,rgba(247, 240, 240, 0.473));     
    height: 15rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  

    h1 {
        color: $color-primario;
        align-items: center;
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 3rem;
        position: absolute;
        display: flex; 
    
    }

    .botondonar{
        position: absolute;
        justify-content: center;
        bottom: 2rem;

    }

    .menu-link{
      
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    
    }
}

@media (min-width: 780px) {
    .main{
        background-color: #6f88f580;
        background-image: linear-gradient(to top, #6f88f596,rgba(247, 240, 240, 0.473)), url(/Images/IMG_9757.JPG);
        display: flex;
        justify-content: center;
        height: 20rem;
        position: relative;

        h1{
            font-size: 4rem;
        }
    }
}

@media (min-width: 1750px) {
    .main{
        background-color: #6f88f580;
        background-image: linear-gradient(to top, #6f88f596,rgba(247, 240, 240, 0.473)), url(/Images/IMG_9757.JPG);
        display: flex;
        justify-content: center;
        height: 22rem;
        position: relative;

        h1 {
            font-size: 8rem;
            position: absolute;
            
        }

    }

}
